# Ignore node_modules except for production dependencies
node_modules
!node_modules/
node_modules/*
!node_modules/react
!node_modules/react-dom
!node_modules/your-other-production-dependency
.expo
!.expo